// I need to fix this back to functioning by including classes

/*--------------------------------------------------------------
	Additional Fancy mani menu sliders
  https://codepen.io/rileybathurst-the-encoder/pen/abvXLQv
--------------------------------------------------------------*/

// which pages have a vertical menu stack
// front page 
// Category
// page


.menu {
  list-style: none;
}

.navigation-top {

  ul {
      padding-left: 0;

    @media (min-width: map-get($breakpoints, medium)) {
      padding-left: $global-padding;
    }
  }

  li {
    font-size: 2.25em;
    font-weight: bold;
  }
}








// specific to the sliders

.home #top-menu,
.category #top-menu,
.page #top-menu {
    min-height: 9rem; // pulling the hr up means we need to specify this
    @media (min-width: map-get($breakpoints, medium)) {
        min-height: 10rem;
    }

    a {
        width: 100%;
        display: block;
    }

    a:hover {
        text-decoration: none;
        display: block;
    }
  
    li {
      list-style: none;
    }
  
    li:first-child:hover ~ hr {
      margin-top: -6rem; // weird backwards math
      opacity: 1;
      @media (min-width: map-get($breakpoints, medium)) {
        margin-top: -8rem;
      }
    }
  
    li:nth-child(2):hover ~ hr {
      margin-top: -3rem;
      opacity: 1;

      @media (min-width: map-get($breakpoints, medium)) {
        margin-top: -4rem;
      }
    }
  
    li:nth-child(3):hover ~ hr {
      margin-top: 0;
      opacity: 1;
    }
  
    hr {
    //   position: absolute; // without this it does a freakout dance on hover
      position: sticky; // lets me remove width and defaults to 100% which absolute does not
    //   width: 89%; // guess and check
      background: $secondary-color;
      border: none;
      transition: 0.3s ease-in-out;
      z-index: -1; // slide behind and dont get in the way of the hover
      // margin-top: 2rem; // start at the bottom
      margin-top: -9rem; // start at the top makes more sense as thats where people come from // this also causes the shape of the resting ul to be tiny
      opacity: 0;
      height: 0.5rem;

      @media (min-width: map-get($breakpoints, medium)) {
        // width: 22%; // guess and check
        // max-width: 22rem; // guess and check
        height: 1rem;
        margin-top: -10rem; // start at the top makes more sense as thats where people come from
      } // medium
    } // hr
} // #top-menu

// which pages have a horizontal menu stack
// single

.single #top-menu {

/*   // currently horizontal isnt working run this so vertical can be live
  hr {
    display: none;
  } */

  display: inline;

  a:hover {
      text-decoration: none;
  }

  li {
    display: inline-block;
  }

  li:first-child:hover ~ hr {
    margin-left: 0;
    opacity: 1;
  }

  li:nth-child(2):hover ~ hr {
    // margin-left: 33%;
    opacity: 1;
  }

  li:nth-child(3):hover ~ hr {
    // margin-left: 66%;
    opacity: 1;
  }

    hr {
      height: 1rem;
      // width: 33%;
      margin: 0;
      margin-bottom: -1rem; // sit in the grid gap
      // margin-left: -33%; // hide when its not in use
      opacity: 0;
      background: $secondary-color;
      border: none;
      transition: .3s ease-in-out;
    }

}

/* nav#horizontal {
    font-size: 2rem;
  
    ul {
      width: 100%;
    }
  
    li {
      display: inline-block;
      width: 33%; // this and the rest might be able to be done with js but for now its fine
    }
  
    li:first-child a:hover ~ hr {
      margin-left: 0;
    }
  
    li:nth-child(2) a:hover ~ hr {
      margin-left: 33%;
    }
  
    li:nth-child(3) a:hover ~ hr {
      margin-left: 66%;
    }
  
    hr {
      height: .25rem;
      width: 25%;
      margin: 0;
      margin-left: -33%; // hide when its not in use
      background: tomato;
      border: none;
      transition: .3s ease-in-out;
    }
  } */